.footer{
    width: 100%;
    height: 100px;
    background-color:#137ac3d3;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer .top{
    width: 100%;
height: 50%;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.footer .top div{
height: 40px;
display: flex;
justify-content: center;
align-items: center;
color: white;
font-weight: 600;
text-align: center;
width: 300px;
}
.footer .top div:hover .svg1{
color: #00FE90;
    }
    .footer .top div:hover p{
        color: #00FE90;
            }
            .footer .top div:hover .svg{
                color: #00FE90;
                    }
.footer .top div svg{
 margin-right: 10px;
    }
.footer .bottom{
    width: 100%;
height: 50%;
display: flex;
justify-content: center;
align-items: center;
font-size: 15px;
font-weight: 600;
color: white;
border-top: 1px rgba(255, 255, 255, 0.5) solid !important;

}